html {
  height: 100%;
  width: 100%;
}

body {
  background: bisque;
  height: 100%;
  width: 100%;
  margin: 0;
}

.studio {
  border-radius: 50%;
  background: whitesmoke
}

#map-container {
  background: coral;
}

#studio-map {
  background: aliceblue;
}

.axis line {
  fill: none;
  stroke: aliceblue;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}
