html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: bisque;
  height: 100%;
  width: 100%;
  margin: 0;
}

.buttons {
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
}

.studio {
  background: none;
}




#map-container {
  background: bisque;
  overflow: hidden;
  margin:0;
}

#map-svg{
}

.axis line {
  fill: none;
  stroke: aliceblue;
  vector-effect: non-scaling-stroke;
}

.studio h1 {
  font-size: 10px;
  background: white;
}
.studio h2 {
  font-size: 8px;
  background: white;
}
.studio p {
  font-size: 5px;
  background: white;
}
